#root {
  color: red;
  background-color: rgb(122, 122, 94);
}

#myInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: center;
}
#mainContainer {
  display: flex;
  flex-wrap: wrap;
  color: rgb(22, 107, 182);
  background-color: rgb(126, 152, 173);
}
h4 {
  width: 180px;
  height: 33px;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 15px;
  margin: 20px;
  color: black;
  text-align: center;
  background-color: aliceblue;
}
ul li {
  list-style: none;
  width: 250px;
  border: 3px solid rgb(219, 202, 207);
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: left;
  background-color: rgb(197, 218, 104);
}
/* using class to hide non result  */
.hidden {
  display: none;
}

#container{
  background-color: rgb(83, 157, 170);
}

#topContainer, #Search {
  display: flex;
}

#selectOption {
  height: fit-content;
  width: 300px;

}

option {
  width: 400px;
  padding-left: 20px;
  margin-right: 20px;
}

#result {
  font-size: 1.5rem;
  margin-left: 20px;
}

#disclaimer {
  text-align: center;
}